<section class="tech">
	<div class="clear">
		<h2 class="title">{{title}}</h2>
		<article>
			<span> <img src="/img/web.png">
				<div class="transparent_class">
					<p>已报名团队：2</p>
					<p>个人报名：3</p>
					<a class="small-button red" href="#">我要参加</a>
				</div>
			</span>
			<h5>网站开发</h5>
		</article>
		<article>
			<span> <img src="/img/cpt.png">
				<div class="transparent_class">
					<p>已报名团队：2</p>
					<p>个人报名：3</p>
					<a class="small-button red" href="#">我要参加</a>
				</div>
			</span>
			<h5>比赛</h5>
		</article>
		<article>
			<span> <img src="/img/market.png">
				<div class="transparent_class">
					<p>已报名团队：2</p>
					<p>个人报名：3</p>
					<a class="small-button red" href="#">我要参加</a>
				</div>
			</span>
			<h5>商业市场</h5>
		</article>
		<article>
			<span> <img src="/img/phone.png">
				<div class="transparent_class">
					<p>已报名团队：2</p>
					<p>个人报名：3</p>
					<a class="small-button red" href="#">我要参加</a>
				</div>
			</span>
			<h5>移动设备</h5>
		</article>
		<a class="more" id="recommendMore"> 查看更多>></a>
	</div>
</section>
<script>
$(function(){
	$(".tech span").hover(function(){
		$(this).find("div").fadeIn();
	},function(){
		$(this).find("div").fadeOut();
	})
})
</script>
